PORT=3001
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-1.5-pro
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini
MONGODB_URI=mongodb+srv://user:password@cluster0.example.mongodb.net/astroai?appName=Cluster0

# Auth
JWT_SECRET=change_me_to_a_long_random_secret
JWT_EXPIRES_IN=30d
GOOGLE_CLIENT_ID_WEB=1008877482736-nfvnfh0dba7rm9729hugbvtnimi04ms4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-web-client-secret
GOOGLE_CLIENT_ID_ANDROID=your-android-client-id.apps.googleusercontent.com
# GOOGLE_CLIENT_ID_IOS=your-ios-client-id.apps.googleusercontent.com
ADMIN_SECRET=change_me_to_a_long_random_admin_secret
